@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 207 185 152; /* CFB998 */
    --color-secondary: 253 242 248; /* FDF2F8 */
    --color-dark: 28 25 23; /* 1C1917 */
  }
}
