@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for a premium feel (Webkit browsers) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #5F4B8B80; /* Semi-transparent Deep Violet */
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #FAFAFA;
}

/* Base styles for a clean slate and custom font */
body {
  @apply bg-cream text-dark-text font-sans antialiased;
}

h1, h2, h3, h4, h5 {
  @apply font-serif text-deep-violet;
}
