@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-gray-900 font-body;
}
a {
  @apply text-accent hover:underline;
}
button {
  @apply bg-primary text-white py-2 px-4 rounded-md transition hover:bg-accent;
}
